a {
    text-decoration: none;
    color: inherit;
  }
  .account-sidebar-txt a:hover {
    color: #86BC42;
    transition: color 0.3s ease;
  }
  
  .breadcrumb {
    background-color: transparent;
    padding-left: 10px;
    font-weight: 500;
  }
  
  .breadcrumb-item.active {
    color: #86BC42;
  }
  
  .breadcrumb-item + .breadcrumb-item::before {
    content: "/";
    margin-right: 5px;
  }
  
  .list-group-item a{
    display: block;
  }
  .list-group-item {
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    color: #666;
    padding: 15px 20px;
    transition: background-color 0.4s ease, color 0.4s ease;
    border:1px solid transparent;
  }
  .list-group-item.active,
  .list-group-item:hover {
    background-color: #86BC42;
    color: #fff;
    border:1px solid #fff;
  }
  #sidebarMenu {
    border: none;
    background-color: transparent;
  }
  
  @media (max-width: 767.98px) {
    .list-group-item {
      padding: 10px 15px;
    }
  
    .account-sidebar-txt {
      margin-top: 20px;
    }
  
    h3.fw-bold {
      font-size: 1.5rem;
    }
  }
  
  @media (min-width: 768px) {
    #sidebarMenu {
      display: block !important;
    }
  }