<div class="container pb-5">
    <nav>
      <ol class="breadcrumb text-dark mt-5">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ headerText }}</li>
      </ol>
    </nav>
  
    <section>
      <header class="row mb-5 mt-5">
        <div class="col-12 bg-light p-3">
          <h3 class="fw-bold fs-3 ps-5 text-dark">{{ headerText }}</h3>
        </div>
      </header>
      <div class="row">
        
        <!-- Responsive Toggle Button -->
        <div class="col-12 d-md-none">
          <button class="btn primary-btn mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-expanded="false" aria-controls="sidebarMenu">
            Menu
          </button>
        </div>
  
        <!-- Sidebar Navigation -->
        <nav id="sidebarMenu" class="col-md-2 collapse d-md-block">
          <ul class="list-group border">
            <li class="list-group-item" routerLinkActive="active" routerLink="dashboard">
              <a (click)="onLinkClick('Dashboard')"><i class="fa-solid fa-gauge-high"></i> Dashboard</a>
            </li>
            <li class="list-group-item" routerLinkActive="active" routerLink="orders">
              <a (click)="onLinkClick('Orders')"><i class="fa-solid fa-cart-shopping"></i> Orders</a>
            </li>
            <li class="list-group-item" routerLinkActive="active" routerLink="downloads">
              <a (click)="onLinkClick('Downloads')"><i class="fa-solid fa-cloud-arrow-down"></i> Downloads</a>
            </li>
            <li class="list-group-item" routerLinkActive="active" routerLink="edit-address">
              <a (click)="onLinkClick('Addresses')"><i class="fa-solid fa-location-dot"></i> Addresses</a>
            </li>
            <li class="list-group-item" routerLinkActive="active" routerLink="account-details">
              <a (click)="onLinkClick('Account details')"><i class="fa-regular fa-user"></i> Account details</a>
            </li>
            <li class="list-group-item">
              <a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i> Log out</a>
            </li>
          </ul>
        </nav>
  
        <!-- Main Content -->
        <div class="account-sidebar-txt col-md-9">
          <router-outlet></router-outlet>
        </div>
      </div>
    </section>
  </div>
  