

 <div class="my-5">
  <div class="container">
    <nav>
      <ol class="breadcrumb text-dark">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ headerText }}</li>
      </ol>
    </nav>

    <section>
      <header>
        <div class="page-title my-5">
          <h2 class="h5">{{ headerText }}</h2>
        </div>
      </header>
      <div class="row">
        <div class="col-12 d-md-none">
          <button class="btn primary-btn mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-expanded="false" aria-controls="sidebarMenu">
            Menu
          </button>
        </div>

        <nav id="sidebarMenu" class="col-md-2 collapse d-md-block">
          <ul class="list-group border">
            <li class="list-group-item" routerLinkActive="active" routerLink="dashboard">
              <a (click)="onLinkClick('Dashboard')"><i class="fa-solid fa-gauge-high"></i> Dashboard</a>
            </li>
            <li class="list-group-item" routerLinkActive="active" routerLink="orders">
              <a (click)="onLinkClick('Orders')"><i class="fa-solid fa-cart-shopping"></i> Orders</a>
            </li>
            <li class="list-group-item" routerLinkActive="active" routerLink="downloads">
              <a (click)="onLinkClick('Downloads')"><i class="fa-solid fa-cloud-arrow-down"></i> Downloads</a>
            </li>
            <li class="list-group-item" routerLinkActive="active" routerLink="edit-address">
              <a (click)="onLinkClick('Addresses')"><i class="fa-solid fa-location-dot"></i> Addresses</a>
            </li>
            <li class="list-group-item" routerLinkActive="active" routerLink="account-details">
              <a (click)="onLinkClick('Account details')"><i class="fa-regular fa-user"></i> Account details</a>
              
            </li>
            <li class="list-group-item" *ngIf="isLoggedIn">
              <a (click)="logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i> Log out</a>
            </li>
            <li class="list-group-item" *ngIf="!isLoggedIn">
              <a routerLink="/login"><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a>
            </li>
          </ul>
        </nav>

        <div class="account-sidebar-txt col-md-10">
          <router-outlet></router-outlet>
        </div>
      </div>
    </section>
  </div>
</div>

  
  