<section class="cart my-5">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cart</li>
      </ol>
    </nav>
    <div class="page-title my-5">
      <h2 class="h5">Cart</h2>
    </div>
    <div class="empty" *ngIf="cartItems.length === 0">
      <p><i class="fa-regular fa-calendar me-2"></i> Your cart is currently empty.</p>
      <button class="btn primary-btn mt-3" routerLink="/shop"><i class="fa-solid fa-arrow-left"></i> Return to Shop</button>
    </div>
    <div class="full" *ngIf="!(cartItems.length === 0)">
      <div class="table-responsive">
        <table class="table table-bordered align-middle text-center">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cartItems">
              <td *ngIf="item?.product">
                <img class="img-fluid" [src]="item.product.imagesURL[0]" alt="{{item?.product?.productName}}" width="100px"/>
              </td>
              <td>{{item?.product?.productName}}</td>
              <td>{{item?.product?.productPrice | currency}}</td>
              <td>
                 <div class="border d-inline-block">
                  <button class="btn border-0 me-2" (click)="updateCartQuantity(item.id!, item.product,item.quantity + 1)">+</button>
                  <span>{{item?.quantity}}</span>
                  <button class="btn border-0 ms-2" (click)="updateCartQuantity(item.id!, item.product, item.quantity - 1)">-</button>
                 </div>
              </td>
              <td *ngIf="item?.product && item?.quantity">{{item.product.productPrice * item.quantity | currency}}</td>
              <td>
                <button class="btn border-0 remove" (click)="removeFromCart(item.id!)"><i class="fa-solid fa-trash-can"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="total my-5">
        <h3 class="h2">Cart totals</h3>
        <div class="table-responsive">
          <table class="table table-bordered w-50">
            <thead>
              <tr>
                <th>Subtotal</th>
                <td>{{getTotalPrice() | currency}}</td>
              </tr>
            </thead>
          </table>
        </div>
        <button class="btn primary-btn" routerLink="/checkout">Proceed to checkout <i class="fa-solid fa-arrow-right ms-1"></i></button>
      </div>
    </div>
  </div>
</section>

