button,
button:active,
button:focus{
  border: none;
}
.cart .empty p{
  background-color: var(--background-color);
  padding: 1.25rem 2.5rem;
  border-top: 3px solid var(--primary-color);
}
.cart .empty i{
  color: var(--primary-color);
}
.cart .table td{
  font-size: var(--text-small);
  font-weight: var(--main-weight);
}
.cart .total .table th{
  color: var(--main-text-color);
}
.cart .table .remove i{
  color: var(--main-text-color);
}
.cart .table .remove i:hover{
  color: var(--red-color);
}