body {
    margin: 20px;
  }
  .form-container {
    max-width: 600px;
    margin: 0 auto;
  }
  .form-container h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  .btn-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
  }
  .form-group {
    position: relative;
  }
  .form-text {
    font-size: 0.875rem;
  }
  .form-group input[type="password"] {
    padding-right: 40px;
  }
  
  .details-button{  
    background: #86BC42;;
    color: #fff;
    transition: .4s ease;
  }
  
  .details-button:hover{
    background-color: #fff;
    color: #86BC42;
    border: 1px solid #86BC42;
  }
  .form-control:focus, .btn-outline-secondary:focus {
    outline: none;
    box-shadow: none; 
}
label{
  font-size: var(--text-small);
  font-weight: var(--main-weight);
}
::placeholder, input{
  font-size: var(--text-small);
  color: var(--main-text-color);  
  padding-block: 9px;
}
input:focus, select:focus{
  border-color: var(--primary-color);
}