.order .empty{
  background-color: var(--background-color);
  padding: 1.25rem 2.5rem;
  border-top: 3px solid var(--primary-color);
}
.order .empty i{
  color: var(--primary-color);
}

.order .table th,
.order .table td{
  color: var(--main-text-color);
  font-size: var(--text-small);  
}
.order .table td{
  color: var(--dark-text-color)
}