<section class="details my-5 ">
  <div class="container">
    <div class="content">
      <div class="row align-items-center">
        <div class="left-side col-lg-6">
          <div id="imageExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button *ngFor="let image of productDetails.imagesURL; let i = index"
                type="button"
                [attr.data-bs-target]="'#imageExampleIndicators'"
                [attr.data-bs-slide-to]="i"
                [attr.aria-current]="i === 0 ? 'true' : null"
                [ngClass]="(i === 0) ? 'active' : ''">
                <img [src]="image" [alt]="productDetails.productName" class="img-fluid d-block" loading="lazy">
              </button>
            </div>
            <div class="carousel-inner">
              <div *ngFor="let image of productDetails.imagesURL; let i = index"
                class="carousel-item w-100"
                [ngClass]="(i === 0) ? 'active' : ''">
                <img [src]="image" class="w-100" [alt]="productDetails.productName" loading="lazy">
                <lib-ngx-image-zoom
                    [thumbImage]="image"
                    [fullImage]="image"
                    [magnification]="1.5"
                    zoomMode="hover"
                    [altText]="productDetails.productName"
                ></lib-ngx-image-zoom>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#imageExampleIndicators" data-bs-slide="prev">
              <span aria-hidden="true"><i class="fa-solid fa-angle-left"></i></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#imageExampleIndicators" data-bs-slide="next">
              <span aria-hidden="true"><i class="fa-solid fa-angle-right"></i></span>
            </button>
          </div>
        </div>
        <div class="right-side col-lg-6">
          <div class="title d-flex justify-content-between">
            <h2 class="h3">{{productDetails.productName}}</h2>
            <button class="btn border-0" (click)="addToWishlist(productDetails)">
              <i [ngClass]="isInWishlist(productDetails) ? 'fa-solid fa-heart fs-4' : 'fa-regular fa-heart fs-4'" 
                 [ngStyle]="{'color': isInWishlist(productDetails) ? 'red' : 'initial'}"></i>
            </button>
            <div id="custom-alert" class="alert hidden" role="alert">
              <span id="custom-alert-message"></span>
            </div>
          </div>
          <p class="weight mb-2">Approx {{productDetails.productSize}}</p>
          <ul class="p-0 d-flex align-items-center">
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <p class="mt-1 ms-1">{{productDetails.ratingsAverage}}</p>
          </ul>
          <span class="price">{{productDetails.productPrice | currency}}</span>
          <p class="description my-3">{{productDetails.productDescription}}</p>
          <div class="actions border-top border-bottom py-4" *ngIf="productDetails.productQuantity > 0; else outOfStock">
            <input type="number" class="form-control shadow-none w-25" value="1" min="1" aria-label="1">
            <button *ngIf="!isInCart(productDetails)" class="btn primary-btn" data-bs-toggle="modal" data-bs-target="#cartModal" 
              (click)="ModalView(productDetails.id)" 
              (click)="addToCart(productDetails, 1)"><i class="fa-solid fa-cart-shopping"></i> Add to Cart
            </button>
            <button *ngIf="isInCart(productDetails)" class="btn primary-btn" routerLink="/cart">
              <i class="fa-solid fa-cart-shopping"></i> VIEW CART
            </button>
            <button class="btn primary-btn"><i class="fa-solid fa-cart-shopping"></i> Buy Now</button>
          </div>
          <ng-template #outOfStock>
            <p class="out text-danger">Out of Stock</p>
          </ng-template>
          <p class="category my-3">Category: <span>{{productDetails.category.name}}</span></p>
          <p class="quantity my-3">Quantity: <span>{{productDetails.productQuantity}}</span></p>
        </div>
      </div>
    </div>

    <div class="related my-5 border-top py-5">
      <div class="title">
        <h2 class="h3">Related Products</h2>
      </div>
      <div id="relatedCarouselIndicators" class="carousel slide my-5">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4">
              <div class="col" *ngFor="let product of relatedProducts.slice(0, 4)">
                <div class="card">
                  <a [routerLink]="['/product-details', product.id]">
                    <div class="image" *ngIf="product.productQuantity > 0; else outOfStockRelated">
                      <img [src]="product.imagesURL[0]" class="card-img-top" [alt]="product.productName" loading="lazy">
                    </div>
                    <ng-template #outOfStockRelated>
                      <div class="image">
                        <img [src]="product.imagesURL[0]" class="card-img-top" [alt]="product.productName" loading="lazy">
                        <p class="overlay">out of stock</p>
                      </div>
                    </ng-template>
                  </a>
                  <div class="card-body">
                    <a [routerLink]="['/product-details', product.id]">
                      <h4 class="card-title">{{product.productName | slicing : 2}}</h4>
                    </a>
                    <p class="card-text">Approx {{product.productSize}}</p>
                    <div class="card-info d-flex justify-content-between mt-2">
                      <span class="price">{{product.productPrice | currency}}</span>
                      <ul class="p-0 d-flex align-items-center">
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                         
                          <p class="ms-1">{{product.ratingsAverage}}</p>
                        </ul>
                      </div>
                      <div class="my-2" *ngIf="product.productQuantity > 0; else readMore">
                        <button *ngIf="!isInCart(product)" class="btn product-btn" data-bs-toggle="modal" data-bs-target="#cartModal" 
                          (click)="ModalView(product.id)" 
                          (click)="addToCart(product, 1)"><i class="fa-solid fa-cart-shopping"></i> Add to Cart
                        </button>
                        <button *ngIf="isInCart(product)" class="btn product-btn" routerLink="/cart">
                          <i class="fa-solid fa-cart-shopping"></i> VIEW CART
                        </button>
                        <button class="btn product-btn mx-2" data-bs-toggle="modal" data-bs-target="#relatedModal" (click)="quickView(product.id)">
                          <i class="fa-solid fa-eye"></i>
                        </button>
                        <button class="btn product-btn" (click)="toggleWishlist(product)">
                          <i [ngClass]="isInWishlist(product) ? 'fa-solid fa-heart heart-green' : 'fa-regular fa-heart'"></i>
                        </button>
                      </div>
                      <ng-template #readMore>
                        <div class="my-2">
                          <button class="btn product-btn" [routerLink]="['/product-details', product.id]">
                            <i class="fa-solid fa-cart-shopping"></i> Read More
                          </button>
                          <button class="btn product-btn mx-2" data-bs-toggle="modal" data-bs-target="#relatedModal" (click)="quickView(product.id)">
                            <i class="fa-solid fa-eye"></i>
                          </button>
                          <button class="btn product-btn" (click)="toggleWishlist(product)">
                            <i [ngClass]="isInWishlist(product) ? 'fa-solid fa-heart heart-green' : 'fa-regular fa-heart'"></i>
                          </button>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4">
                <div class="col" *ngFor="let product of relatedProducts.slice(4, 8)">
                  <div class="card">
                    <a [routerLink]="['/product-details', product.id]">
                      <div class="image" *ngIf="product.productQuantity > 0; else outOfStockRelated">
                        <img [src]="product.imagesURL[0]" class="card-img-top" [alt]="product.productName" loading="lazy">
                      </div>
                      <ng-template #outOfStockRelated>
                        <div class="image">
                          <img [src]="product.imagesURL[0]" class="card-img-top" [alt]="product.productName" loading="lazy">
                          <p class="overlay">out of stock</p>
                        </div>
                      </ng-template>
                    </a>
                    <div class="card-body">
                      <a [routerLink]="['/product-details', product.id]">
                        <h4 class="card-title">{{product.productName | slicing : 2}}</h4>
                      </a>
                      <p class="card-text">Approx {{product.productSize}}</p>
                      <div class="card-info d-flex justify-content-between mt-2">
                        <span class="price">{{product.productPrice | currency}}</span>
                        <ul class="p-0 d-flex align-items-center">
                          <li><i class="fa-solid fa-star"></i></li>
                          <li><i class="fa-solid fa-star"></i></li>
                          <li><i class="fa-solid fa-star"></i></li>
                          <li><i class="fa-solid fa-star"></i></li>
                          <li><i class="fa-solid fa-star"></i></li>
                          <p class="ms-1">{{product.ratingsAverage}}</p>
                        </ul>
                      </div>
                      <div class="my-2" *ngIf="product.productQuantity > 0; else readMore">
                        <button *ngIf="!isInCart(product)" class="btn product-btn" data-bs-toggle="modal" data-bs-target="#cartModal" 
                          (click)="ModalView(product.id)" 
                          (click)="addToCart(product, 1)"><i class="fa-solid fa-cart-shopping"></i> Add to Cart
                        </button>
                        <button *ngIf="isInCart(product)" class="btn product-btn" routerLink="/cart">
                          <i class="fa-solid fa-cart-shopping"></i> VIEW CART
                        </button>
                        <button class="btn product-btn mx-2" data-bs-toggle="modal" data-bs-target="#relatedModal" (click)="quickView(product.id)">
                          <i class="fa-solid fa-eye"></i>
                        </button>
                        <button class="btn product-btn" (click)="toggleWishlist(product)">
                          <i [ngClass]="isInWishlist(product) ? 'fa-solid fa-heart heart-green' : 'fa-regular fa-heart'"></i>
                        </button>
                      </div>
                      <ng-template #readMore>
                        <div class="my-2">
                          <button class="btn product-btn" [routerLink]="['/product-details', product.id]">
                            <i class="fa-solid fa-cart-shopping"></i> Read More
                          </button>
                          <button class="btn product-btn mx-2" data-bs-toggle="modal" data-bs-target="#relatedModal" (click)="quickView(product.id)">
                            <i class="fa-solid fa-eye"></i>
                          </button>
                          <button class="btn product-btn" (click)="toggleWishlist(product)">
                            <i [ngClass]="isInWishlist(product) ? 'fa-solid fa-heart heart-green' : 'fa-regular fa-heart'"></i>
                          </button>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#relatedCarouselIndicators" data-bs-slide="prev">
            <span aria-hidden="true"><i class="fa-solid fa-angle-left"></i></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#relatedCarouselIndicators" data-bs-slide="next">
            <span aria-hidden="true"><i class="fa-solid fa-angle-right"></i></span>
          </button>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Related Products Modal -->
  <div class="modal fade" id="relatedModal" tabindex="-1" aria-labelledby="relatedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl w-75 m-auto">
      <div class="modal-content rounded-0">
        <div class="modal-body">
          <div class="row">
            <div class="slider col-xl-6">
              <div id="relatedProductsCarouselIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button *ngFor="let image of selectedProduct?.imagesURL; let i = index"
                    type="button"
                    [attr.data-bs-target]="'#relatedProductsCarouselIndicators'"
                    [attr.data-bs-slide-to]="i"
                    [attr.aria-current]="i === 0 ? 'true' : null"
                    [ngClass]="(i === 0) ? 'active' : ''"></button>
                </div>
                <div class="carousel-inner">
                  <div *ngFor="let image of selectedProduct?.imagesURL; let i = index"
                    class="carousel-item"
                    [ngClass]="(i === 0) ? 'active' : ''">
                    <img [src]="image" class="d-block w-100" [alt]="selectedProduct?.productName" loading="lazy">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#relatedProductsCarouselIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#relatedProductsCarouselIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
              </div>
            </div>
            <div class="data col-lg-6">
              <h2>{{selectedProduct?.productName}}</h2>
              <p class="weight mb-2">(Approx {{selectedProduct?.productSize}} )</p>
              <ul class="p-0 d-flex align-items-center">
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <p class="mt-1 ms-1"></p>
              </ul>
              <span class="price">{{selectedProduct?.productPrice | currency}}</span>
              <p class="description my-3">{{selectedProduct?.productDescription}}</p>
              <div class="actions" *ngIf="selectedProduct?.productQuantity > 0; else outOfStockModal">
                <input type="number" class="form-control shadow-none w-25" value="1" min="1" aria-label="1">
                <button class="btn primary-btn" (click)="addToCart(selectedProduct, 1)"><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button>
                <button class="btn primary-btn"><i class="fa-solid fa-cart-shopping"></i> Buy Now</button>
              </div>
              <ng-template #outOfStockModal>
                <p class="out text-danger">Out of Stock</p>
              </ng-template>
              <p class="category my-3">Category: <span>{{selectedProduct?.category.name}}</span></p>
              <p class="quantity my-3">Quantity: <span>{{selectedProduct?.productQuantity}}</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Add to details modal -->
  <div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="shopModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content rounded-0">
        <div class="modal-body">
          <div class="modal-body-content">
            <div class="row popup-cart">
              <div class="col-md-10 col-12 d-flex justify-content-between align-items-center">
                <h3 class="title-add">
                  <i class="fa-solid fa-circle-check mb-2"></i> Product added
                </h3>
                <button type="button" class="btn-close position-absolute top-0 end-0" data-bs-dismiss="modal" aria-label="Close">
                  <i class="tb-icon tb-icon-zt-close"></i>
                </button>
                <div class="total col-md-4 col-12 mt-2 mt-md-0">
                  <h3>Subtotal: <span class="cartPrice">{{getTotalPrice() | currency}}</span></h3>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-12 mt-3">
                <div class="media widget-product d-flex align-items-center">
                  <div class="modal-image me-3">
                    <img [src]="productDetails?.imagesURL[0]" [alt]="productDetails?.productName" class="img-fluid" width="200" height="150" />
                  </div>
                  <div class="cart-main-content media-body">
                    <h3 class="cart-name mb-1">{{ productDetails?.productName }}</h3>
                    <p class="quantity mb-0">1 × <span class="price cartPrice">{{ productDetails?.productPrice | currency }}</span></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-12 d-flex flex-column mt-3">
                <div class="mt-auto">



                                <div class="gr-buttons d-flex justify-content-around">
                  <button class="btn primary-btn">
                    <a href="/cart"> <i class="fa-solid fa-cart-shopping"></i> VIEW CART</a>
                  </button>
                  <button class="btn primary-btn">
                    <a href="/checkout"><i class="fa-solid fa-credit-card"></i> CHECKOUT</a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

