 
<app-main-nav></app-main-nav>
<div class="container text-center py-5">
    <nav>
        <ol class="breadcrumb mt-5">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" >404</li>
        </ol>
    </nav>
    <div class="error-page">
        <img src="assets/images/404/notfound.webp" alt="404 Page Not Found Image" class="img-fluid mb-4" />

        <div class="error-content">
            <h2 class="">PAGE NOT FOUND</h2>
            <p class="found ">It looks like nothing was found at this location. Maybe try a search?</p>
            <p class="back">If you want to go back to my store, please input in the box below:</p>

            <div class="input-group mb-3 justify-content-center ">
                <input type="text" class=" w-50" placeholder="Search">
                <button class="" type="button"><i class="fa fa-search"></i></button>
            </div>

            <a href="/home" class="back-home ">BACK TO HOME</a>
        </div>
    </div>
</div>

<app-footer></app-footer>
 




















