 
<app-main-nav></app-main-nav>
<section class="my-5">
  <div class="container text-center">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item active" >404</li>
        </ol>
    </nav>
    <div class="error-page py-5">
        <img src="assets/images/404/notfound.webp" alt="404 Page Not Found Image" class="img-fluid mb-4" loading="lazy" />
        <div class="error-content">
            <h2 class="h1">PAGE NOT FOUND</h2>
            <p class="found ">It looks like nothing was found at this location.</p>            
            <a routerLink="/home" class="btn primary-btn back-home mt-3">BACK TO HOME</a>
        </div>
    </div>
</div>
</section>
<app-footer></app-footer>
 




















