<section class="my-5">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">FAQs</li>
      </ol>
    </nav>
      <div class="page-title my-5">
        <h2 class="h5">FAQs</h2>
      </div>
      <div class="faq-section">
          
          <div class="row">
  
              <div class="col-lg-4 col-md-6 col-12 mb-3">
                  <ul class="list-group">
                      <li class="list-group-item faq-question active" data-answer="You can show your appreciation by supporting us in different ways, like providing feedback or donations.">Q1. I use RANDOM.ORG a lot. How can I show my appreciation?</li>
                      <li class="list-group-item faq-question" data-answer="No, the source code for the generator is not publicly available.">Q2. Is the source code for the generator available?</li>
                      <li class="list-group-item faq-question" data-answer="No, the generator software cannot be downloaded. You need to use the online tool.">Q3. Can I download the generator software and run it on my own computer?</li>
                      <li class="list-group-item faq-question" data-answer="No, broadcasting a radio signal cannot affect the randomness of the numbers.">Q4. Could someone affect the numbers by broadcasting a radio signal?</li>
                      <li class="list-group-item faq-question" data-answer="We hope to be around for a long time, but the future is always uncertain.">Q5. Will RANDOM.ORG be around in X years?</li>
                      <li class="list-group-item faq-question" data-answer="Yes, we can perform custom jobs. Please contact us for more details.">Q6. Does RANDOM.ORG perform custom jobs that require randomness?</li>
                      <li class="list-group-item faq-question" data-answer="Check your spam folder or whitelist our domain to ensure you receive our emails.">Q7. I seem not to be receiving emails from RANDOM.ORG. What is wrong?</li>
                  </ul>
              </div>
  
              <div class="col-lg-8 col-md-6 col-12">
                  <div class="faq-answer " id="faq-answer">
                      Quisque imperdiet est eu arcu dapibus, sed sodales lectus tincidunt. 
                      Nulla vitae felis eu augue gravida imperdiet. Nullam tempor ante purus, 
                      vitae scelerisque nunc feugiat ut. Maecenas faucibus tellus vitae tellus sodales, 
                      ut pretium augue placerat. Vestibulum nulla tellus, faucibus sed nunc a, suscipit suscipit ante. 
                      Nunc vitae nisl ac risus accumsan blandit eget sit amet odio. Mauris dolor magna, tempor at mollis ac, porta non erat.
                      Ut at finibus sem, quis volutpat nibh. Pellentesque id eleifend felis. Aliquam erat volutpat. 
                      Sed in enim urna. Morbi luctus suscipit ante non hendrerit. Donec euismod mollis libero, eu consectetur sem consequat ac. 
                      Aliquam aliquam nulla non justo condimentum fringilla. Suspendisse in justo id nunc molestie varius non nec lacus.
                  </div>
              </div>
          </div>
      </div>
  
      <div class="contact-form text-center container">
          <h3 class="mb-4">Still Questions?</h3>
          <p class="mb-4">Fill the form to ask us more questions, and our support team will respond as soon as possible.</p>
          <form>
              <div class="form-group position-relative">
                  <i class="fa fa-user position-absolute icon-style"></i>  
                  <input type="text" class="form-control pl-5" id="name" placeholder="Your Name">
              </div>
              <div class="form-group position-relative">
                  <i class="fa fa-envelope position-absolute icon-style"></i>
                  <input type="email" class="form-control pl-5" id="email" placeholder="Your Email">
              </div>
              <div class="form-group position-relative">
                  <i class="fa fa-pencil-alt position-absolute icon-style"></i>
                  <textarea class="form-control pl-5" id="message" rows="5" placeholder="Your Message"></textarea>
              </div>
              <div class="d-flex justify-content-end">
                  <button type="submit" class="btn primary-btn px-5">SEND</button>
              </div>
          </form>
      </div>
  </div>
</section>
