<section class="brands">
    <div class="container">
      <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-6">
        <div class="col text-center my-2">
          <img class="img-fluid" src="/assets/images/barnds/brand-1.webp" alt="brand-image" loading="lazy">
        </div>
        <div class="col text-center my-2">
          <img class="img-fluid" src="/assets/images/barnds/brand-2.webp" alt="brand-image" loading="lazy">
        </div>
        <div class="col text-center my-2">
          <img class="img-fluid" src="/assets/images/barnds/brand-3.webp" alt="brand-image" loading="lazy">
        </div>
        <div class="col text-center my-2">
          <img class="img-fluid" src="/assets/images/barnds/brand-4.webp" alt="brand-image" loading="lazy">
        </div>
        <div class="col text-center my-2">
          <img class="img-fluid" src="/assets/images/barnds/brand-5.webp" alt="brand-image" loading="lazy">
        </div>
        <div class="col text-center my-2">
          <img class="img-fluid" src="/assets/images/barnds/brand-6.webp" alt="brand-image" loading="lazy">
        </div>
      </div>
    </div>
</section>


