<section class="brands">
    <div class="container">
        <img class="img-fluid" src="/assets/images/barnds/brand-1.webp">
        <img class="img-fluid" src="/assets/images/barnds/brand-2.webp">
        <img class="img-fluid" src="/assets/images/barnds/brand-3.webp">
        <img class="img-fluid" src="/assets/images/barnds/brand-4.webp">
        <img class="img-fluid" src="/assets/images/barnds/brand-5.webp">
        <img class="img-fluid" src="/assets/images/barnds/brand-6.webp">
    </div>
</section>


