<section class="hero">
    <div class="carousel-inner" data-bs-ride="carousel" data-bs-interval="9000">
        <div class="carousel-item active">
            <div class="container">
                <div class="one">
                    <img src="/assets/images/home/layer-5-slider1.webp" class="img-fluid  mainSplash">
                <img src="/assets/images/home/layer-3-slider1.webp" class="img-fluid  leafLeaf1">
                <div class="leaves">
                    <div class="part1">
                        <img src="/assets/images/home/layer-2-slider1.webp" class="img-fluid  leafLeaf2">
                        <img src="/assets/images/home/layer-1-slider1.webp" class="img-fluid  leafLeaf4">
                    </div>
                    <div class="part2">
                        <img src="/assets/images/home/layer-2-slider1.webp" class="img-fluid  leafLeaf2">
                        <img src="/assets/images/home/layer-4-slider1.webp" class="img-fluid  leafLeaf5">
                    </div>
                </div>
                <img src="/assets/images/home/layer-7-slider1.webp" class="img-fluid  leafLeaf6">
                </div>
            </div>
        </div>
        <div class="carousel-item ">
            <div class="two">
                <div class="content">
                    <h1>True <strong>passionate</strong> from</h1>
                    <h1>our <strong>farmer</strong></h1>
                    <img src="/assets/images/home/line-slider.webp" alt="Line">
                    <br>
                    <br>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Necessitatibus minus molestiae totam, rerum quis alias praesentium est repellendus iusto inventore porro laborum nemo.</p>
                    <br>
                    <div class="buts">
                        <button class="get" routerLink="/shop">Get It Now</button>
                        <button class="learn" routerLink="/shop">Learn More</button>
                    </div>
                </div>
    
    
            </div>
        </div>




       
           
        </div>
    
</section>

