<section class="top-rated my-5">
  <div class="container">
    <div class="title text-center pb-4">
      <h3>Top Rated <span>Products</span></h3>
    </div>
    <div id="ratedCarouselIndicators" class="carousel slide my-5">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#ratedCarouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#ratedCarouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4">
          <div class="col" *ngFor="let product of topRatedProducts.slice(0, 4)">
            <div class="card">
              <a [routerLink]="['/product-details', product.id]">
                <div class="image">
                  <img [src]="product.imagesURL[0]" class="card-img-top" [alt]="product.productName">
                </div>
              </a>
              <div class="card-body">
                <a [routerLink]="['/product-details', product.id]"><h4 class="card-title">{{product.productName | slicing : 2}}</h4></a>
                <p class="card-text">Approx {{product.productSize}}</p>
                <div class="card-info d-flex justify-content-between mt-2">
                  <span class="price">{{product.productPrice | currency}}</span>
                  <ul class="p-0 d-flex align-items-center">
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <p class="ms-1">{{product.ratingsAverage}}</p>
                  </ul>
                </div>
                <div class="my-2">
                  <button class="btn product-btn" (click)="addToCart(product, 1)"><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button>
                  <button class="btn product-btn mx-2" data-bs-toggle="modal" data-bs-target="#TopModal" (click)="quickView(product.id)"><i class="fa-solid fa-eye"></i></button>
                  <button class="btn product-btn"><i class="fa-solid fa-heart"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="carousel-item">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4">
          <div class="col" *ngFor="let product of topRatedProducts.slice(4, 8)">
            <div class="card">
              <a [routerLink]="['/product-details', product.id]">
                <div class="image">
                  <img [src]="product.imagesURL[0]" class="card-img-top" [alt]="product.productName">
                </div>
              </a>
              <div class="card-body">
                <a [routerLink]="['/product-details', product.id]"><h4 class="card-title">{{product.productName | slicing : 2}}</h4></a>
                <p class="card-text">Approx {{product.productSize}}</p>
                <div class="card-info d-flex justify-content-between mt-2">
                  <span class="price">${{product.productPrice | currency}}</span>
                  <ul class="p-0 d-flex align-items-center">
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <p class="ms-1">{{product.ratingsAverage}}</p>
                  </ul>
                </div>
                <div class="my-2">
                  <button class="btn product-btn" (click)="addToCart(product, 1)"><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button>
                  <button class="btn product-btn mx-2" data-bs-toggle="modal" data-bs-target="#TopModal" (click)="quickView(product.id)">
                    <i class="fa-solid fa-eye"></i>
                  </button>
                  <button class="btn product-btn"><i class="fa-solid fa-heart"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#ratedCarouselIndicators" data-bs-slide="prev">
        <span aria-hidden="true"><i class="fa-solid fa-angle-left"></i></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#ratedCarouselIndicators" data-bs-slide="next">
        <span aria-hidden="true"><i class="fa-solid fa-angle-right"></i></span>
      </button>
    </div>
  </div>
</section>


<!-- Top Rated Modal -->
<div class="modal fade" id="TopModal" tabindex="-1" aria-labelledby="TopModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl w-75 m-auto">
    <div class="modal-content rounded-0">
      <div class="modal-body">
        <div class="row">
          <div class="slider col-xl-6">
            <div id="topCarouselIndicators" class="carousel slide">
              <div class="carousel-indicators">
                <button *ngFor="let image of selectedProduct?.imagesURL; let i = index"
                type="button"
                [attr.data-bs-target]="'#topCarouselIndicators'"
                [attr.data-bs-slide-to]="i"
                [attr.aria-current]="i === 0 ? 'true' : null"
                [ngClass]="(i === 0) ? 'active' : ''"></button>
              </div>
              <div class="carousel-inner">
                <div *ngFor="let image of selectedProduct?.imagesURL; let i = index"
                  class="carousel-item"
                  [ngClass]="(i === 0) ? 'active' : ''">
                  <img [src]="image" class="d-block w-100" [alt]="selectedProduct?.productName">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#topCarouselIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#topCarouselIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              </button>
            </div>
          </div>
          <div class="data col-lg-6">
            <h2>{{selectedProduct?.productName}}</h2>
            <p class="weight mb-2">(Approx {{selectedProduct?.productSize}})</p>
            <ul class="p-0 d-flex align-items-center">
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <p class="mt-1 ms-1">{{selectedProduct?.ratingsAverage}}</p>
            </ul>
            <span class="price">{{selectedProduct?.productPrice | currency}}</span>
            <p class="description my-3">{{selectedProduct?.productDescription}}</p>
            <div class="actions">
              <input type="number" class="form-control shadow-none w-25" value="1" min="1" aria-label="1">
              <button class="btn primary-btn" (click)="addToCart(selectedProduct, 1)"><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button>
              <button class="btn primary-btn"><i class="fa-solid fa-cart-shopping"></i> Buy Now</button>
            </div>
            <!-- <p class="out text-danger">Out of Stock</p> -->
            <p class="category my-3">Category: <span>{{selectedProduct?.category.name}}</span></p>
            <p class="quantity my-3">Quantity: <span>{{selectedProduct?.productQuantity}}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>