<section class="fotter">
    <div class="container">
        <div class="main">
            <div class="frist">
                <section class="secOne">
                    <div class="news">
                        <div class="part1">
                            <span style="font-size: 20px;"><strong style="color: black">Newsletter</strong> Sign Up</span>
                            <br>
                            <span style="font-size: 13px;">(Get <span style="color: rgb(134, 188, 66); font-weight: bold">30% OFF</span> coupon today subscribers)</span>
                        </div>
                        <div class="part4" style="display: flex;">
                            <div class="part2">
                                <p>Join <strong>35.000+ subscribers</strong> and get a new discount coupon on every Wednesday.</p>
                            </div>
                            <div class="part3">
                                <input type="email" placeholder="Email address...">
                                <button>SUBSCRIBE</button>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="secTwo">
                    <div class="one">
                        <h5>Brief</h5>
                        <p>GreenMart is an eCommerce template for organic stores, offering a clean design and easy customization.</p>
                        <div class="icons">
                            <i class="bi bi-facebook"></i>
                            <i class="bi bi-twitter"></i>
                            <i class="bi bi-youtube"></i>
                            <i class="bi bi-google"></i>
                            <i class="bi bi-instagram"></i>
                        </div>
                    </div>
                    <div class="two">
                        <h5>INFORMATION</h5>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy & Policy</a></li>
                        </ul>
                    </div>
                    <div class="three">
                        <h5>USER AREA</h5>
                        <ul>
                            <li><a href="#">My account</a></li>
                            <li><a href="#">My cart</a></li>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">Checkout</a></li>
                        </ul>
                    </div>
                    <div class="four">
                        <h5 style="color: black;">CONTACT INFO</h5>
                        <div style="display: flex; column-gap: 10px;">
                            <i class="bi bi-geo-alt-fill"></i>
                            <p>71 Pilgrim Avenue Chevy Chase</p>
                        </div>
                        <div style="display: flex; column-gap: 10px;">
                            <i class="bi bi-telephone-fill"></i>
                            <p>+01-202-555-0181</p>
                        </div>
                        <div style="display: flex; column-gap: 10px;">
                            <i class="bi bi-envelope-fill"></i>
                            <a href="contact@example.com">Our Email</a>
                        </div>
                        <div style="display: flex; column-gap: 10px;">
                            <i class="bi bi-globe-asia-australia"></i>
                            <a href="https://elementor2.thembay.com/greenmart/">https://elementor2.thembay.com/greenmart/</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="seconde">
            <section class="secThree"></section>
            <img src="/assets/images/logo/logo.webp">
            <p>Copyright © 2024 <span style="color: rgb(134, 188, 66);">Thembay</span> All Rights Reserved. </p>
        </div>
    </div>
</section>
<section class="footerMopile">
    
    <a href="#"><span><i class="bi bi-house-door"></i><h6>home</h6></span></a>
    <a href="#">
        <span class="icon-container">
            <i class="bi bi-cart3"></i>
            <span class="circle-badge">0</span>
                <h6>View Cart</h6>
        </span>
    </a>
    <a href="#">
        <span class="icon-container">
            <i class="bi bi-suit-heart"></i>
            <span class="circle-badge">0</span>
                <h6>Wishlist</h6>
        </span>
    </a>
    <a href="#"><span><i class="bi bi-person"></i><h6>Account</h6></span></a>
</section>


