
 <div class="wishlist-container container my-5">
  <nav>
    <ol class="breadcrumb mt-5">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" >Wishlist</li>
    </ol>
  </nav>
  <div class="wishlist-header p-3" >
    <h3 class="h3 px-5">Wishlist</h3>
  </div>
  <h2 class="my-5 fs-2 ">My Wishlist</h2>
  <div class="wishlist-content mt-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Unit Price</th>
          <th>Stock Status</th>
          <th>Add to cart</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="wishlist.length === 0">
          <td colspan="5" class="text-center">No products were added to the wishlist</td>
        </tr>
        <tr *ngFor="let item of wishlist">
          <td>{{ item.productName }}</td>
          <td>{{ item.productPrice | currency }}</td>
          <td>{{ item.productQuantity > 0 ? 'In Stock' : 'Out of Stock' }}</td>
          <td><button (click)="addToCart(item)" class="btn btn-primary">Add to cart</button></td>
          <td><button (click)="removeFromWishlist(item)" class="btn btn-danger">Remove</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

