<div class="wishlist-container container my-5">
  <nav>
    <ol class="breadcrumb mt-5">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item active">Wishlist</li>
    </ol>
  </nav>
  <div class="page-title my-5">
    <h2 class="h5">Wishlist</h2>
  </div>
  <div class="table-responsive wishlist-content mt-4">
    <table class="table table-bordered text-center align-middle">
      <thead>
        <tr>
          <th>Image</th>
          <th>Product Name</th>
          <th>Unit Price</th>
          <th>Stock Status</th>
          <th>Add to cart</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="wishlist.length === 0">
          <td colspan="6" class="text-center">No products were added to the wishlist</td>
        </tr>
        <tr *ngFor="let item of wishlist">
          <td><img class="img-fluid" [src]="item.imagesURL[0]" alt="{{item.productName}}" width="70px" loading="lazy" /></td>
          <td>{{ item.productName }}</td>
          <td>{{ item.productPrice | currency }}</td>
          <td>{{ item.productQuantity > 0 ? "In Stock" : "Out of Stock" }}</td>
          <td>
            <button (click)="addToCart(item, 1)" class="btn primary-btn">
              <i class="fa-solid fa-cart-shopping me-1"></i> Add to cart
            </button>
          </td>
          <td class="remove">
            <button (click)="removeFromWishlist(item)" class="btn">
              <i class="fa-regular fa-trash-can"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Alert -->
    <div id="custom-alert" class="custom-alert hidden" role="alert">
      <span id="custom-alert-message"></span>
    </div>
  </div>
</div>
