nav .breadcrumb {
  padding-left: 10px;
  font-weight: 500;
}

nav .breadcrumb-item.active {
  color: #86BC42;
  background-color: #fff;
}

nav .breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  margin-right: 5px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.table th{
  color: var(--main-text-color);
}
.table th, .table td {
  font-size: var(--text-small);
}
.table .remove i:hover{
  color: var(--red-color)
}
.table .primary-btn{
  font-size: 0.75rem;
}
.wishlist-header {
  background-color: #f8f9fa; 
  border-radius: 8px; 
  padding: 20px; 
}


/* alert */
.custom-alert {
  margin-top: 5px; 
  position: relative;
  background-color: #4caf50; 
  color: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: opacity 0.5s ease; 
  display: inline-block;
  bottom: 290px;
  left: 50%;
}

.custom-alert.hidden {
  opacity: 0; 
  pointer-events: none; 
}

.custom-alert.show {
  opacity: 1; 
  pointer-events: all; 
}
