

<div class="account-sidebar-txt col-md-9">
    <div class="px-3">
      <p class="text-muted">Hello <strong>{{ userEmail }}</strong> (not <strong>{{ userEmail }}</strong>? <a routerLink="/home"  (click)="logout()">Log out</a>)</p>
      <p class="text-muted">From your account dashboard you can view your <a routerLink="../orders">recent orders</a>, manage your <a routerLink="../addresses">shipping and billing addresses</a>, and <a routerLink="../account-details">edit your password and account details</a>.</p>
    </div>
  </div>
  
