<div class="d-flex align-items-center gap-4" data-bs-toggle="dropdown" aria-expanded="false">
  <div class="icon position-relative">
    <i class="fa-solid fa-cart-shopping"></i>
    <span class="badge circle-badge">{{cartItems.length}}</span>
  </div>
  <div class="text">
    <span>My Shopping Cart <i class="fa-solid fa-angle-down ms-1"></i></span>
    <p class="price">{{cartTotal|currency:'USD'}}</p>
  </div>
</div>
<div class="dropdown-menu dropdown-menu-end">
  <div>
<div class="empty" *ngIf="cartItems.length === 0">
   <p>You have no items in your shopping cart</p>
    <p>Subtotal: $0,00</p> 
  </div>

    <div class="container mt-5" *ngIf="cartItems.length > 0">
        <div class="cart-container">
           
          <div class="cart-item">
             <ul>
                <li class="cart-item-details" *ngFor="let item of cartItems">
                    <app-cart-item [cartItem]="item" (quantityChanged)="calculateCartTotal()"></app-cart-item>
                </li>
             </ul>
          <hr>
      
          <div class="subtotal">
            <p>Subtotal: {{cartTotal|currency:'USD'}}</p>
          </div>
      
          <div class="cart-buttons d-flex justify-content-between mt-3">
            <a class="btn primary-btn" routerLink="/cart">View cart <i class="fa-solid fa-angle-right ms-1"></i></a>
            <a class="btn  primary-btn" routerLink="/checkout">Checkout <i class="fa-solid fa-angle-right ms-1"></i></a>
            <button class="btn primary-btn" (click)="clearCart()">Clear</button>
          </div>
        </div>
      </div>
      </div>
 </div>
</div>