<div class="d-flex align-items-center gap-4" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" >
  <div class="icon position-relative">
    <i class="fa-solid fa-cart-shopping"></i>
    <span class="badge circle-badge">{{cartItems.length}}</span>
  </div>
  <div class="text">
    <span>My Shopping Cart <i class="fa-solid fa-angle-down ms-1"></i></span>
    <p class="price fw-bold">{{getTotalPrice() | currency}}</p>
  </div>
</div>

<div class="dropdown-menu dropdown-menu-end">
  <div *ngIf="cartItems.length === 0" class="empty">
    <p>You have no items in your shopping cart</p>
    <strong>Subtotal: $0,00</strong>
  </div>

  <div *ngIf="cartItems.length > 0" class="container mt-1 cart-items-container">
    
      <ul class="cart-items-scrollable">
        <li class="cart-item-details" *ngFor="let item of cartItems">
          <div class="cart-item">
            <div *ngIf="item?.product" class="drop-img">
              <img class="img-fluid" [src]="item.product.imagesURL[0]" alt="{{item?.product?.productName}}" width="150px" />
            </div>

            <div class="cart-item-details">
              <div class="cart-item-info">
                <p class="product-name">{{(item?.product?.productName ?? '').split(' ').slice(0, 2).join(' ')}}</p>
              </div>
                <div class="cart-item-quantity">
                  <button class="btn btn-quantity" (click)="updateCartQuantity(item.id!, item.product, item.quantity - 1)">-</button>
                  <input type="text" value="{{item?.quantity}}" readonly>
                  <button class="btn btn-quantity" (click)="updateCartQuantity(item.id!, item.product, item.quantity + 1)">+</button>
                </div>
          </div>
          
            <div class="cart-price" *ngIf="item?.product && item?.quantity">{{item.product.productPrice * item.quantity | currency}}</div>
            <button class="btn btn-remove top-0" (click)="removeFromCart(item.id!)">
              <i class="fa-solid fa-x"></i>
            </button>
          </div>
        </li>
      </ul>
   


    <div class="cart-buttons d-flex justify-content-around mt-4">
      <strong class="mt-2">Subtotal: </strong>
      <span class="cart-price m-sm-2">{{getTotalPrice() | currency}}</span>
    </div>
    <hr>
    <div class="cart-buttons d-flex justify-content-around mt-3">
      <a class="btn primary-btn" routerLink="/cart">View cart <i class="fa-solid fa-angle-right ms-1"></i></a>
      <a class="btn primary-btn" routerLink="/checkout">Checkout <i class="fa-solid fa-angle-right ms-1"></i></a>
    </div>
  </div>
</div>
