<section class="about-us">
    
    <div class="container">
        <h1>About Us</h1>
        <section class="frist">
            
                <div class="title">
                    <div class="tOne">
                        <img src="/assets/images/logo/logo.webp">
                    </div>
                    <div class="tTwo">
                        <p>“What you wear is how you present yourself to the world, especially today, when human contacts are so quick. Fashion is instant language.” <strong>— Miuccia Prada/CEO</strong></p>
                    </div>
                    <h3>About The <strong>Store</strong></h3>
                    <div class="tThree">
                        <p>Proin erat tellus, dapibus ut pulvinar non, suscipit ac massa. Maecenas ac sem eget ex porta tincidunt. Morbi dictum ante at vulputate sceleri sque. Donec rutrum nisi eu diam convallis sodales eu ac libero. Proin vitae gravida arcu. Pelesque molestie semper ligula, vitae vulputate sapien mattis quis. Donec id tellus quis purus porttitor vestibulum.</p>
                    </div>
                </div>       
        </section>
        <section class="second">
            <div class="imgOne">
                <img src="/assets/images/about/about-01.webp">
            </div>
            <div class="imgTwo">
                <div class="imges">
                    <img src="/assets/images/about/about-02.webp">
                    <img src="/assets/images/about/about-03.webp">
                    <img src="/assets/images/about/about-04.webp">
                    <img src="/assets/images/about/about-05.webp">

                </div>

            </div>
            
        </section>
        <section class="third">
            <h3>Why should <strong>choose us?</strong></h3>
            <div class="part">
                <p>Proin erat tellus, dapibus ut pulvinar non, suscipit ac massa. Maecenas ac sem eget ex porta tincidunt. Morbi dictum ante at vulputate sceleri sque. Donec rutrum nisi eu diam convallis sodales eu ac libero. Proin vitae gravida arcu.</p>
            </div>
            <div class="part" style="font-weight: 700;">
                <p>Aliquam hendrerit ex arcu, nec sagittis ligula porta eu. Ut ex leo, suscipit sit amet augue sed, laoreet congue ex. Morbi ornare mi a rutrum scelerisque. Aenean vulputate viverra pharetra.                </p>

            </div>
            <div class="part" style="font-weight: 700;">
                <p>Proin scelerisque in ante eget vehicula. Sed tempus lectus id nibh porttitor porttitor. Pellentesque nec quam ac felis finibus vehicula sed sed nunc.                </p>
            </div>

        </section>

    </div>
</section>

