<section class="about-us my-5">  
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">About Us</li>
            </ol>
          </nav>

          <div class="page-title my-5">
            <h2 class="h5">About Us</h2>
          </div>

        <section class="frist">
            
                <div class="title">
                    <div class="tOne">
                        <img clss="img-fluid" src="/assets/images/logo/logo.webp" loading="lazy" alt="logo">
                    </div>
                    <div class="tTwo">
                        <p>“What you wear is how you present yourself to the world, especially today, when human contacts are so quick. Fashion is instant language.” <strong style="font-style: normal;">— Miuccia Prada/CEO</strong></p>
                    </div>
                    <h3 >About The <strong >Store</strong></h3>
                    <div class="tThree">
                        <p>Proin erat tellus, dapibus ut pulvinar non, suscipit ac massa. Maecenas ac sem eget ex porta tincidunt. Morbi dictum ante at vulputate sceleri sque. Donec rutrum nisi eu diam convallis sodales eu ac libero. Proin vitae gravida arcu. Pelesque molestie semper ligula, vitae vulputate sapien mattis quis. Donec id tellus quis purus porttitor vestibulum.</p>
                    </div>
                </div>       
        </section>
        <section class="second">
            <div class="imgOne">
                <img clss="img-fluid" src="/assets/images/about/about-01.webp" loading="lazy" alt="Dedicated GreenMart staff">
            </div>
            <div class="imgTwo">
                <div class="imges">
                    <img clss="img-fluid" src="/assets/images/about/about-02.webp" alt="clintes" loading="lazy">
                    <img clss="img-fluid" src="/assets/images/about/about-03.webp" alt="Eco-friendly packaging at GreenMart" loading="lazy">
                    <img clss="img-fluid" src="/assets/images/about/about-04.webp" alt="Variety of organic products" loading="lazy">
                    <img clss="img-fluid" src="/assets/images/about/about-05.webp" alt="top brands" loading="lazy">

                </div>

            </div>
            
        </section>
        <section class="third">
            <h3>Why should <strong >choose us?</strong></h3>
            <div class="part">
                <p>Proin erat tellus, dapibus ut pulvinar non, suscipit ac massa. Maecenas ac sem eget ex porta tincidunt. Morbi dictum ante at vulputate sceleri sque. Donec rutrum nisi eu diam convallis sodales eu ac libero. Proin vitae gravida arcu.</p>
            </div>
            <div class="part sto">
                <p>Aliquam hendrerit ex arcu, nec sagittis ligula porta eu. Ut ex leo, suscipit sit amet augue sed, laoreet congue ex. Morbi ornare mi a rutrum scelerisque. Aenean vulputate viverra pharetra.                </p>

            </div>
            <div class="part sto">
                <p>Proin scelerisque in ante eget vehicula. Sed tempus lectus id nibh porttitor porttitor. Pellentesque nec quam ac felis finibus vehicula sed sed nunc.                </p>
            </div>

        </section>

    </div>
</section>

