<section class="about my-5 py-5">
    <div class="container">
        <div class="left">
            <div class="title">
                <p>Get<strong> fresher food </strong>every days</p>
                <p>Explore delicious offers from CoopMart Market</p>
            </div>
            <div class="line"></div>
            <div class="content">
                <p>Nunc dapibus gravida nisi, ut consequat metus ma ttis impe odiet. Aenean quam neque, ullamcorper eget dui ut, lobortis dictum mi liquam euon first.</p>
            </div>
            <div class="but">
                <button class="dis" routerLink="/shop">DESCOVER THE BEST
                    <i class="fa-solid fa-cart-shopping"></i>
                </button>
            </div>
        </div>
        <div class="right">
            <div class="column">
                <h3 class="header"><strong>Why</strong> choose us?</h3>
                <div class="part">
                    <img class="img-fluid" src="/assets/images/icons/icon-1.webp" alt="">
                    <div class="paragraph">
                        <h3>We drive fast & ship faster</h3>
                        <p>Ut viverra efficitur enim, vitae euis mod augue blandit vel</p>
                    </div>
                </div>
                <div class="part">
                    <img class="img-fluid" src="/assets/images/icons/icon-2.webp" alt="">
                    <div class="paragraph">
                        <h3>We save your more money</h3>
                        <p>Sed semper convallis ultricies. Aliqua erat vol esent friday ngilla augue.</p>
                    </div>
                </div>
                <div class="part">
                    <img class="img-fluid" src="/assets/images/icons/icon-3.webp" alt="">
                    <div class="paragraph">
                        <h3>Daily discount coupons</h3>
                        <p>Nunc non urna viverra, molestie elis in, pellen tesque elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


