<div class="address-content bg-white p-4 rounded">              
    <h2 class="mb-4">My Addresses</h2>
    <p class="text-muted"> The following addresses will be used on the checkout page by default.</p>
    <div class="row g-4">
        <!-- Billing Address -->
        <div class="col-md-6">
            <div class="address">
                <div class="address-header d-flex justify-content-between align-items-center">
                    <h3 class="mb-0">Billing Address</h3>
                    <a href="#" class="edit">
                        <i class="fa fa-pencil-alt"></i>Edit</a>
                </div>
                <div class="address-body">
                    <address>
                        You have not set up this type of address yet.
                    </address>
                </div>
            </div>
        </div>

        <!-- Shipping Address -->
        <div class="col-md-6">
            <div class="address">
                <div class="address-header d-flex justify-content-between align-items-center">
                    <h3 class="mb-0">Shipping Address</h3>
                    <a href="#" class="edit"><i class="fa fa-pencil-alt"></i> Edit</a>
                </div>
                <div class="address-body">
                    <address>
                        You have not set up this type of address yet.
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>
