<div class="container">
    <nav>
        <ol class="breadcrumb mt-5">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" >Terms of use</li>
        </ol>
    </nav>
    <section class="terms-section">
        <h3 class="text-left c-color p-3 mb-4">Terms of use</h3>
        
        <p>
            Donec ultricies, mi vel accumsan semper, ipsum lectus lacinia erat, et luctus orci eros sit amet orci. 
            Vestibulum et aliquam felis. Fusce non nisi at velit hendrerit elementum. Integer blandit gravida exim eu tempus.
            Aenean a risus massa. Nam convallis dui sed pulvinar bibendum. Donec tincidunt sed lorem in venenatis.
            Nam malesuada molestie ex eu faucibus.
        </p>
        <p>
            Vestibulum tortor diam, tempus eu id nisi, malesuada tristique mauris. Phasellus in ligula eget neque tristique ullamcorper eget eget turpis.
            Integer et malesuada felis ex ante.
            Aenean a iaculis. Donec tincidunt mauris sit tellus, mattis felis convallis.
        </p>
        <p>
            Sed efficitur fermentum velit sit amet vulputate. Pellentesque libero sit amet sollicitudin leo. Integer egestas neque eu justo feugiat. 
            Donec ultricies, mi vel accumsan semper, et luctus orci eros sit amet orci. Vestibulum et felis.
        </p>
        <p>
            Fusce ultricies erat et turpis tincidunt. Integer bibendum et gravida elit. Nam ex tempor. Suspendisse facilisis lorem euismod non magna nec hendrerit.
        </p>
    </section>
</div>

