<section class="login">
    <div class="container" [class.active]="isRegisterActive">
      <div class="row justify-content-center">
        <div class="col-md-6">
  
          <div class="form-container sign-up" *ngIf="isRegisterActive">
            <form [formGroup]="registerForm">
              <h1 class="text-center">Create Account</h1>             
              <span class="text-center d-block">or use your email for registration</span>
              <div class="mb-3">
                <input type="text" placeholder="Name" [(ngModel)]="registerData.name" id="registerName" formControlName="registerName" autocomplete="yes">
              </div>
                <small class="text-danger text-sm text-start" *ngIf="registerForm.get('registerName')?.errors?.['required'] && registerForm.get('registerName')?.touched">Name is required</small>
              <div class="mb-3">
                <input type="email" placeholder="Email" [(ngModel)]="registerData.email" id="registerEmail" formControlName="registerEmail" autocomplete="yes">
                <small class="text-danger text-sm text-start" *ngIf="registerForm.get('registerEmail')?.errors?.['required'] && registerForm.get('registerEmail')?.touched">Email is required</small>
                <small class="text-danger text-sm text-start" *ngIf="registerForm.get('registerEmail')?.errors?.['email']">Email address is invalid</small>
              </div>
              <div class="mb-3">
                <input type="password" placeholder="Password" [(ngModel)]="registerData.password" id="registerPassword" formControlName="registerPassword" autocomplete="yes">
                <small class="text-danger text-sm text-start" *ngIf="registerForm.get('registerPassword')?.errors?.['required'] && registerForm.get('registerPassword')?.touched">Password is required</small>
                <small class="text-danger text-sm text-start" *ngIf="registerForm.get('registerPassword')?.errors?.['pattern']">Password must be at least 6 characters contain letters, numbers, and special characters</small>
              </div>
              <button type="button" class="btn btn-block green" (click)="onRegister()">Sign Up</button>
            </form>
          </div>
  
          
          <div class="form-container sign-in" *ngIf="!isRegisterActive">
            <form [formGroup]="loginForm">
              <h1 class="text-center">Sign In</h1>
              
              <span class="text-center d-block">or use your email password</span>
              <div class="mb-3">
                <input type="email" placeholder="Email" [(ngModel)]="loginData.email" id="loginEmail" formControlName="loginEmail" autocomplete="yes">
                <small class="text-danger text-sm text-start" *ngIf="loginForm.get('loginEmail')?.errors?.['required'] && loginForm.get('loginEmail')?.touched">Email is required</small>
                <small class="text-danger text-sm text-start" *ngIf="loginForm.get('loginEmail')?.errors?.['email']">Email address is invalid</small>
              </div>
              <div class="mb-3">
                <input type="password" placeholder="Password" [(ngModel)]="loginData.password" id="loginPassword" formControlName="loginPassword" autocomplete="yes">
                <small class="text-danger text-sm text-start" *ngIf="loginForm.get('loginPassword')?.errors?.['required'] && loginForm.get('loginPassword')?.touched">Password is required</small>
                <small class="text-danger text-sm text-start" *ngIf="loginForm.get('loginPassword')?.errors?.['pattern']">Password must be at least 6 characters contain letters, numbers, and special characters</small>
              </div>
              <a class="d-block text-center">Forget Your Password?</a>
              <button type="button" class="btn btn-block green" (click)="onSignIn()">Sign In</button>
            </form>
          </div>
  
          <div class="toggle-container text-center">
            <div class="toggle">
              <div class="toggle-panel toggle-left">
                <h1>Welcome Back!</h1>
                <p>Enter your personal details to use all site features</p>
                <button class="btn" (click)="toggleRegister()">Sign In</button>
              </div>
              <div class="toggle-panel toggle-right">
                <h1>Hello, Friend!</h1>
                <p>Register with your personal details to use all site features</p>
                <button class="btn" (click)="toggleRegister()">Sign Up</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  





 