nav {
  background-color: var(--white-color);
}
nav .offcanvas-body {
  margin-top: 1.25rem;
  position: relative;
  padding: 0;
}
nav .offcanvas-body .nav-tabs {
  display: flex;
  justify-content: center;
}
nav .offcanvas-body .nav-tabs button {
  width: 50%;
  color: var(--main-text-color);
  background-color: #f9f9f9;
  font-size: 1.125rem;
  border-bottom: 1px solid var(--border-color);
  border-radius: 0rem;
}
nav .offcanvas-body .nav-tabs button.active {
  background-color: var(--white-color);
  border-bottom: none;
  color: var(--primary-color);
}
nav .offcanvas-body ul.navbar-nav li {
  border-top: 1px solid var(--border-color);
  padding: 0.3125rem 0.9375rem;
}
nav .offcanvas-body ul.navbar-nav li:last-child {
  border-bottom: 1px solid var(--border-color);
}
nav .offcanvas-body ul.nav {
  position: absolute;
  bottom: 0rem;
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.3125rem 0.9375rem;
  border-top: 1px solid var(--border-color);
}
nav .offcanvas-body ul:last-child a {
  color: var(--main-text-color);
  font-size: 1rem;
}
nav .search {
  position: relative;
}
nav .search input.form-control {
  min-height: 2.8125rem;
  max-width: 65%;
  border-radius: var(--border-radius);
  border-color: var(--border-color);
  color: var(--main-text-color);
}
nav .search input.form-control::placeholder {
  color: #999ba6;
  font-size: var(--text-small);
}
nav .search button.primary-btn {
  padding: 0rem 0.75rem;
  position: absolute;
  right: calc(35% + 3px);
  top: 50%;
  transform: translateY(-50%);
}

nav .rightSide {
  display: flex;
  column-gap: 2.5rem;
}
nav .rightSide .auth span,
nav .rightSide .auth p,
nav .rightSide .account span,
nav .rightSide .account p {
  font-size: var(--text-small);
  color: var(--main-text-color);
  font-weight: var(--main-weight);
}
nav .rightSide .auth p,
nav .rightSide .account p {
  color: var(--black-color);
}
nav .rightSide .account {
  position: relative;  
}
nav .rightSide .account div{
  cursor: pointer;
}
nav .rightSide .account ul {
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid var(--light-text-color);
  background-color: var(--white-color);
  width: 170px;
  padding: 0.9375rem 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  display: none;
}
nav .rightSide .account ul a {
  color: var(--main-text-color);
  font-size: var(--text-small);
  font-weight: var(--main-weight);
  transition: color 0.3s ease;
  cursor: pointer;
}
nav .rightSide .account ul a:hover {
  color: var(--primary-color);
}
nav .rightSide .account:hover ul {
  display: flex;
}
 nav .rightSide .cart {
  position: relative;
  cursor: pointer;
}

nav .mob-cart {
  display: none;
}
nav .mob-cart i {
  font-size: 1.25rem;
  color: #595C5F;
}
nav .mob-cart .badge {
  background-color: var(--primary-color);
}

.links {
  position: relative;
  margin-top: 91px;
  background-color: var(--white-color);
  border-top: 1px solid var(--background-color);
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
}
.links a {
  font-size: var(--text-small);
  color: var(--main-text-color);
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}
.links a.active,
.links a:hover,
nav .offcanvas-body ul.navbar-nav a.active {
  color: var(--primary-color);
  font-weight: 600;
}
@media screen and (max-width: 1199px) {
  nav .search,
  nav .rightSide,
  .links {
    display: none;
  }
  nav .mob-cart {
    display: block;
  }
}
