nav {
  background-color: var(--white-color);
}
nav .offcanvas-body {
  margin-top: 1.25rem;
  position: relative;
  padding: 0;
}
nav .offcanvas-body .nav-tabs {
  display: flex;
  justify-content: center;
}
nav .offcanvas-body .nav-tabs button {
  width: 50%;
  color: var(--main-text-color);
  background-color: #f9f9f9;
  font-size: 1.125rem;
  border-bottom: 1px solid var(--border-color);
  border-radius: 0rem;
}
nav .offcanvas-body .nav-tabs button.active {
  background-color: var(--white-color);
  border-bottom: none;
  color: var(--primary-color);
}
nav .offcanvas-body ul.navbar-nav li {
  border-top: 1px solid var(--border-color);
  padding: 0.3125rem 0.9375rem;
}
nav .offcanvas-body ul.navbar-nav li:last-child {
  border-bottom: 1px solid var(--border-color);
}
nav .offcanvas-body ul.nav {
  position: absolute;
  bottom: 0rem;
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.3125rem 0.9375rem;
  border-top: 1px solid var(--border-color);
}
nav .offcanvas-body ul:last-child a {
  color: var(--main-text-color);
  font-size: 1rem;
}
nav .search {
  position: relative;
}
nav .search input.form-control {
  min-height: 2.8125rem;
  max-width: 65%;
  border-radius: var(--border-radius);
  border-color: var(--border-color);
  color: var(--main-text-color);
}
nav .search input.form-control::placeholder {
  color: #999ba6;
  font-size: var(--text-small);
}
nav .search button.primary-btn {
  padding: 0rem 0.75rem;
  position: absolute;
  right: calc(35% + 3px);
  top: 50%;
  transform: translateY(-50%);
}

nav .rightSide {
  display: flex;
  column-gap: 2.5rem;
}
nav .rightSide .auth span,
nav .rightSide .auth p,
nav .rightSide .account span,
nav .rightSide .account p,
nav .rightSide .cart .text p {
  font-size: var(--text-small);
  color: var(--main-text-color);
  font-weight: var(--main-weight);
}
nav .rightSide .auth p,
nav .rightSide .account p {
  color: var(--black-color);
}
nav .rightSide .account {
  position: relative;
}
nav .rightSide .account ul {
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid var(--light-text-color);
  background-color: var(--white-color);
  width: 170px;
  padding: 0.9375rem 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  display: none;
}
nav .rightSide .account ul a {
  color: var(--main-text-color);
  font-size: var(--text-small);
  font-weight: var(--main-weight);
  transition: color 0.3s ease;
}
nav .rightSide .account ul a:hover {
  color: var(--primary-color);
}
nav .rightSide .account:hover ul {
  display: flex;
}
nav .rightSide .cart {
  position: relative;
  cursor: pointer;
}
nav .rightSide .cart .icon i {
  font-size: 1.5625rem;
}
nav .rightSide .cart .icon span.badge{
  background-color: var(--red-color);
}
nav .rightSide .cart .text .price {
  color: var(--primary-color);
}
nav .rightSide .cart .text i {
  font-size: 0.75rem;
}
nav .rightSide .cart .dropdown-menu {
  position: absolute;
  min-width: 320px;
  border-left: none;
  border-radius: 0%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  cursor: default;
}
nav .rightSide .cart .dropdown-menu::after {
  content: "";
  position: absolute;
  top: -8px;
  right: 15px;
  width: 0.9375rem;
  height: 0.9375rem;
  transform: rotate(45deg);
  background-color: var(--white-color);
  border-top: 1px solid var(--light-text-color);
  border-left: 1px solid var(--light-text-color);
}
nav .rightSide .cart .dropdown-menu .empty {
  padding: 0.9375rem 1.25rem;
}
nav .rightSide .cart .dropdown-menu p {
  font-size: var(--text-small);
  line-height: 2.5;
}
nav .rightSide .cart .dropdown-menu .products .pro {
  max-height: 300px;
  overflow-y: auto;
}
nav .rightSide .cart .dropdown-menu .products .pro::-webkit-scrollbar {
  width: 13px;
}
nav .rightSide .cart .dropdown-menu .products .pro::-webkit-scrollbar-track {
  background: var(--light-text-color);
  border-radius: 1px;
}
nav .rightSide .cart .dropdown-menu .products .pro::-webkit-scrollbar-thumb {
  background: var(--main-text-color);
  border-radius: 1px;
}
nav .rightSide .cart .dropdown-menu .products .item {
  border-bottom: 1px solid var(--border-color);
}
nav .rightSide .cart .dropdown-menu .products .item input:focus {
  border-color: var(--primary-color);
}
nav .rightSide .cart .dropdown-menu .products .info a:hover {
  color: var(--primary-color);
}
nav .rightSide .cart .dropdown-menu .products .total p {
  color: var(--dark-text-color);
  font-size: 16px;
  font-weight: var(--main-weight);
}
nav .rightSide .cart .dropdown-menu .products .total p:last-child {
  color: var(--primary-color);
}
nav .rightSide .cart .dropdown-menu .products .actions {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
nav .rightSide .cart .dropdown-menu .products .actions a {
  color: var(--white-color);
  font-size: var(--text-small);
  border: 1px solid var(--white-color);
  border-radius: 0;
  max-width: 60%;
  margin: auto;
  transition: color 0.5s ease, background-color 0.5s ease;
}
nav .rightSide .cart .dropdown-menu .products .actions a:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
}

nav .mob-cart {
  display: none;
}
nav .mob-cart i {
  font-size: 1.25rem;
}
nav .mob-cart .badge {
  background-color: var(--primary-color);
}

.links {
  position: relative;
  margin-top: 106px;
  background-color: var(--white-color);
  border-top: 1px solid var(--background-color);
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
}
.links a {
  font-size: var(--text-small);
  color: var(--main-text-color);
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}
.links a.active,
.links a:hover,
nav .offcanvas-body ul.navbar-nav a.active {
  color: var(--primary-color);
  font-weight: 600;
}
@media screen and (max-width: 1199px) {
  nav .search,
  nav .rightSide,
  .links {
    display: none;
  }
  nav .mob-cart {
    display: flex;
    gap: 20px;
  }
}

@media screen and (max-width: 575px) {
  nav .mob-cart {
    gap: 10px;
  }
}
