<section class="contact-us my-5">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
      </ol>
    </nav>

    <div class="page-title my-5">
      <h2 class="h5">Contact Us</h2>
    </div>

    <div class="content my-5">
      <div class="row">
        <div class="col-lg-6">
          <div class="shop">
            <h3>Our Shop</h3>
            <p class="pt-5 pb-4 mb-4 border-bottom border-2">Mauris eu porttitor est, sed laoreet mi. Sed mauris lorem, porta non tempor imperdiet.</p>
            <ul class="p-0">
              <li class="border-bottom py-2">
                <a class="d-flex align-items-center gap-2" href="#">
                  <i class="fa-solid fa-location-dot"></i> 108 Sky Tower, Street name, New York City, USA
                </a>
              </li>
              <li class="border-bottom py-2">
                <a class="d-flex align-items-center gap-2" href="tel:+01234567890">
                  <i class="fa-solid fa-phone"></i> +012 345 67890
                </a>
              </li>
              <li class="border-bottom py-2">
                <a class="d-flex align-items-center gap-2" href="mailto:email&#64;example.com">
                  <i class="fa-solid fa-envelope"></i> email&#64;example.com
                </a>
              </li>
            </ul>
          </div>
          <div class="open-time">
            <h3 class="mt-4 mb-5">Opening Time</h3>
            <p class="mb-2">Monday - Friday: 8:00 AM - 7:00 PM</p>
            <p>Saturday - Sunday: 9:00 AM - 8:00 PM</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form">
            <h3>Get In Touch</h3>
            <p class="pt-5 pb-4 mb-4 border-bottom border-2">Mauris eu porttitor est, sed laoreet mi. Sed mauris lorem, porta non tempor imperdiet.</p>
            <form>
              <div class="mb-3">
                <input type="text" id="name" class="form-control shadow-none" placeholder="Name">
              </div>
              <div class="mb-3">
                <input type="email" id="email" class="form-control shadow-none" placeholder="Email">
              </div>
              <div class="mb-3">
                <textarea id="message" class="form-control shadow-none" placeholder="Message" rows="3"></textarea>
              </div>
              <button type="submit" class="btn primary-btn ms-auto d-block px-4">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1271575.894913155!2d-0.11951900000000001!3d51.503186!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604b900d26973%3A0x4291f3172409ea92!2slastminute.com%20London%20Eye!5e0!3m2!1sar!2sus!4v1728294458933!5m2!1sar!2sus" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>