<section class="top-featured my-5 py-5">
  <div class="container">
    <div class="title text-center">
      <h3>Top Featured <span>Products</span></h3>
    </div>
    <nav class="my-5 border-0">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button *ngFor="let category of categories"
          class="nav-link px-2 py-3" [ngClass]="{'active': activeTab === category.id}"
          (click)="setActiveTab(category.id)"
          [attr.id]="'nav-' + category.attribute + '-tab'"
          data-bs-toggle="tab"
          [attr.data-bs-target]="'#nav-'+category.attribute"
          type="button" role="tab"
          [attr.aria-controls]="'nav-'+category.id"
          [attr.aria-selected]="activeTab === category.id">{{category.name}}
        </button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div *ngFor="let category of categories"
        [ngClass]="{'show active': activeTab === category.id}" class="tab-pane fade"
        [attr.id]="'nav-' + category.attribute" role="tabpanel"
        [attr.aria-labelledby]="'nav-'+ category.attribute +'-tab'"
        tabindex="0">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4">
          <div class="col" *ngFor="let product of filteredProducts.slice(0, 8)">
            <div class="card">
              <a [routerLink]="['/product-details', product.id]">
                <div class="image" *ngIf="product.productQuantity > 0; else outOfStock">
                  <img [src]="product.imagesURL[0]" class="card-img-top" [alt]="product.productName" loading="lazy">
                </div>
                <ng-template #outOfStock>
                  <div class="image">
                    <img [src]="product.imagesURL[0]" class="card-img-top" [alt]="product.productName" loading="lazy">
                    <p class="overlay">out of stock</p>
                  </div>
                </ng-template>
              </a>
              <div class="card-body">
                <a [routerLink]="['/product-details', product.id]">
                  <h4 class="card-title">{{product.productName | slicing : 2}}</h4>
                </a>
                <p class="card-text">Approx {{product.productSize}}</p>
                <div class="card-info d-sm-flex justify-content-between mt-2">
                  <span class="price">{{product.productPrice | currency}}</span>
                  <ul class="p-0 d-flex align-items-center">
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <p class="ms-1">{{product.ratingsAverage}}</p>
                  </ul>
                </div>
                <div class="my-2" *ngIf="product.productQuantity > 0; else readMore">
                  <button *ngIf="!isInCart(product)"
                  class="btn product-btn" data-bs-toggle="modal" data-bs-target="#featureModal"
                  (click)="ModalView(product.id)"
                  (click)="addToCart(product, 1)"><i class="fa-solid fa-cart-shopping"></i> Add to Cart
                  </button>
                  <button *ngIf="isInCart(product)" class="btn product-btn" routerLink="/cart">
                    <i class="fa-solid fa-cart-shopping"></i> VIEW CART
                  </button>
                  <button class="btn product-btn mx-2" data-bs-toggle="modal" data-bs-target="#quickViewFeature" (click)="quickView(product.id)">
                    <i class="fa-solid fa-eye"></i>
                  </button>
                  <button class="btn product-btn" (click)="toggleWishlist(product)">
                    <i [ngClass]="isInWishlist(product) ? 'fa-solid fa-heart heart-green' : 'fa-regular fa-heart'"></i>
                  </button>
                </div>
                <ng-template #readMore>
                  <div class="my-2">
                    <button class="btn product-btn" [routerLink]="['/product-details', product.id]">
                      <i class="fa-solid fa-cart-shopping"></i> Read More
                    </button>
                    <button class="btn product-btn mx-2" data-bs-toggle="modal" data-bs-target="#quickViewFeature" (click)="quickView(product.id)">
                      <i class="fa-solid fa-eye"></i>
                    </button>
                    <button class="btn product-btn" (click)="toggleWishlist(product)">
                      <i [ngClass]="isInWishlist(product) ? 'fa-solid fa-heart heart-green' : 'fa-regular fa-heart'"></i>
                    </button>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-5">
      <a class="btn primary-btn all" routerLink="/shop">View All</a>
    </div>
  </div>
</section>

<!-- quickViewFeature Modal -->
<div class="modal fade" id="quickViewFeature" tabindex="-1" aria-labelledby="shopModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl w-75 m-auto">
    <div class="modal-content rounded-0">
      <div class="modal-body">
        <div class="row">
          <div class="slider col-lg-6">
            <div id="shopCarouselIndicators" class="carousel slide">
              <div class="carousel-indicators">
                <button *ngFor="let image of selectedProduct?.imagesURL; let i = index"
                  type="button"
                  [attr.data-bs-target]="'#shopCarouselIndicators'"
                  [attr.data-bs-slide-to]="i"
                  [attr.aria-current]="i === 0 ? 'true' : null"
                  [ngClass]="(i === 0) ? 'active' : ''">
                </button>
              </div>
              <div class="carousel-inner">
                <div *ngFor="let image of selectedProduct?.imagesURL; let i = index"
                  class="carousel-item"
                  [ngClass]="(i === 0) ? 'active' : ''">
                  <img [src]="image" class="d-block w-100" [alt]="selectedProduct?.productName" loading="lazy">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#shopCarouselIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#shopCarouselIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              </button>
            </div>
          </div>
          <div class="data col-lg-6">
            <h2>{{selectedProduct?.productName}}</h2>
            <p class="weight mb-2">(Approx {{selectedProduct?.productSize}})</p>
            <ul class="p-0 d-flex align-items-center">
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <p class="mt-1 ms-1">{{selectedProduct?.ratingsAverage}}</p>
            </ul>
            <span class="price">{{selectedProduct?.productPrice | currency}}</span>
            <p class="description my-3">{{selectedProduct?.productDescription}}</p>
            <div class="actions" *ngIf="selectedProduct?.productQuantity > 0; else outOfStockModal">
              <input type="number" class="form-control shadow-none w-25" value="1" min="1" aria-label="1">
              <button class="btn primary-btn" (click)="addToCart(selectedProduct, 1)"><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button>
              <button class="btn primary-btn"><i class="fa-solid fa-cart-shopping"></i> Buy Now</button>
            </div>
            <ng-template #outOfStockModal>
              <p class="out text-danger">Out of Stock</p>
            </ng-template>
            <p class="category my-3">Category: <span>{{selectedProduct?.category.name}}</span></p>
            <p class="quantity my-3">Quantity: <span>{{selectedProduct?.productQuantity}}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Add to cart modal -->
<div class="modal fade" id="featureModal" tabindex="-1" aria-labelledby="shopModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl w-50 m-auto">
    <div class="modal-content rounded-0">
      <div class="modal-body">
        
        <div class="modal-body-content">
          <div class="row popup-cart">
            <div class="col-md-10 d-flex justify-content-between align-items-center">
              <h3 class="title-add">
                <i class="fa-solid fa-circle-check mb-2"></i> Product added
              </h3>
              <button type="button" class="btn-close position-absolute top-0 end-0" data-bs-dismiss="modal" aria-label="Close">
                <i class="tb-icon tb-icon-zt-close"></i>
              </button> 

              
              <div class="total col-md-0">
                <h3>Subtotal: <span class="cartPrice">{{getTotalPrice() | currency}}</span></h3>
              </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="media widget-product d-flex align-items-center">
                <div class="carousel-inner modal-image">
                  <div *ngFor="let image of selectedProduct?.imagesURL;let i = index" class="carousel-item" [ngClass]="i === 0 ? 'active' : ''">
                    <img [src]="image" [alt]="selectedProduct?.productName" width="200" height="150"/>
                  </div>
                </div>

                <div class="col-md-6 cart-main-content media-body mt-3 ms-2 ">
                  <h3 class="cart-name text-nowrap">{{ selectedProduct?.productName }}</h3>
                  <p class="quantity">1 × <span class="price cartPrice">{{ selectedProduct?.productPrice | currency }}</span></p>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12 d-flex flex-column">
              <div class="mt-auto">
                
                <div class="gr-buttons d-flex justify-content-around">
                  <button class="btn primary-btn">
                    <a href="/cart"> <i class="fa-solid fa-cart-shopping"></i> VIEW CART</a>
                  </button>
                  <button class="btn primary-btn">
                    <a href="/checkout"><i class="fa-solid fa-credit-card"></i> CHECKOUT</a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
