
    <div class="cart-item">

      <img src="{{ cartItem.imagesURL || 'assets/images/products/fruits/product-12/image-01.webp' }}" alt="Product Image" loading="lazy">
      

      <div class="cart-item-details">
        <p>{{ cartItem.productName }}</p>
      </div>
      <div class="cart-item-quantity">
        <button class="btn btn-sm btn-outline-secondary" (click)="decrementQuantity()">-</button>
        <input type="text" value="{{ cartItem.qty }}" readonly>
        <button class="btn btn-sm btn-outline-secondary" (click)="incrementQuantity()">+</button>
      </div>
      <div class="cart-price">
        {{ (cartItem.qty * cartItem.price) | currency:'USD' }}
      </div>
    </div>

